# Copy this file  to .env an set the approriate values 
GLACIER_CLI="path to glacier command installed with boto" 
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=xxx
AWS_REGION=us-east-1
AWS_VAULT_NAME=backup
SNS_TOPIC="SNS topic ARN - example arn:aws:sns:us-east-1:627278222899:backup_notifications"
